In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Sunspots.csv")
df.drop(columns='Unnamed: 0', inplace=True)

In [4]:
df.drop(index=df[df["Monthly Mean Total Sunspot Number"] == 0].index,inplace=True)

In [5]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

In [6]:
df = df[~df['Year'].between(1790, 1830)]
df = df.reset_index(drop=True)

In [10]:
df['Month_sin'] = np.sin(2 * np.pi * df['Month'] / 12)
df['Month_cos'] = np.cos(2 * np.pi * df['Month'] / 12)
df['Year_sin'] = np.sin(2 * np.pi * (df['Year'] - df['Year'].min()) / 11)
df['Year_cos'] = np.cos(2 * np.pi * (df['Year'] - df['Year'].min()) / 11)
df['Sunspot_lag1'] = df['Monthly Mean Total Sunspot Number'].shift(1)
df['Sunspot_Lag_12'] = df['Monthly Mean Total Sunspot Number'].shift(12)
df['Diff_11Year'] = df['Monthly Mean Total Sunspot Number'].diff(periods=132)

df.dropna(inplace=True)

In [11]:

df.to_csv("ForecastSunspot.csv", index=False)

In [9]:
df

,Date,Monthly Mean Total Sunspot Number,Year,Month,Day,Month_sin,Month_cos,Year_sin,Year_cos,Sunspot_lag1,Sunspot_Lag_12,Diff_11Year
132,1760-04-30,97.2,1760,4,30,8.660254e-01,-5.000000e-01,-1.133108e-15,1.000000,124.5,78.3,0.5
133,1760-05-31,120.0,1760,5,31,5.000000e-01,-8.660254e-01,-1.133108e-15,1.000000,97.2,81.7,15.7
134,1760-06-30,80.5,1760,6,30,1.224647e-16,-1.000000e+00,-1.133108e-15,1.000000,120.0,83.3,-36.2
135,1760-07-31,110.0,1760,7,31,-5.000000e-01,-8.660254e-01,-1.133108e-15,1.000000,80.5,85.0,17.2
136,1760-08-31,126.0,1760,8,31,-8.660254e-01,-5.000000e-01,-1.133108e-15,1.000000,110.0,118.8,-15.7
...,...,...,...,...,...,...,...,...,...,...,...,...
2751,2020-09-30,0.6,2020,9,30,-1.000000e+00,-1.836970e-16,-7.557496e-01,-0.654861,7.5,1.1,-6.5
2752,2020-10-31,14.4,2020,10,31,-8.660254e-01,5.000000e-01,-7.557496e-01,-0.654861,0.6,0.4,6.7
2753,2020-11-30,34.0,2020,11,30,-5.000000e-01,8.660254e-01,-7.557496e-01,-0.654861,14.4,0.5,27.1
2754,2020-12-31,21.8,2020,12,31,-2.449294e-16,1.000000e+00,-7.557496e-01,-0.654861,34.0,1.5,5.5
2755,2021-01-31,10.4,2021,1,31,5.000000e-01,8.660254e-01,-9.898214e-01,-0.142315,21.8,6.2,-9.1