In [7]:
import pandas as pd
import numpy as np
from statsmodels.tsa.seasonal import seasonal_decompose

In [8]:

df = pd.read_csv('Sunspots.csv')


df.columns = [ 'Index','Date', 'Sunspot']


df['Date'] = pd.to_datetime(df['Date'])
df.drop(index=df[df["Sunspot"] == 0].index,inplace=True)
df = df[~df['Year'].between(1790, 1830)]
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
annual_df = df.groupby('Year')['Sunspot'].mean().reset_index()

KeyError: 'Year'

In [ ]:

def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Autumn'

df['Season'] = df['Month'].apply(get_season)

In [ ]:

for lag in range(1,2):
    df[f'Sunspot_lag11Year{lag}'] = annual_df['Sunspot'].shift(lag)

In [ ]:

df['RollMean_11year'] = df['Sunspot'].rolling(window=132).mean()
df['RollStd_11year'] = df['Sunspot'].rolling(window=132).std()
df['RollMax_11year'] = df['Sunspot'].rolling(window=132).max()
df['RollMin_11year'] = df['Sunspot'].rolling(window=132).min()

In [ ]:

df['Diff_11Year'] = df['Sunspot'].diff(periods=132)

In [ ]:

df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df

NameError: name 'df' is not defined

In [10]:
df = pd.read_csv("ForecastSunspotResults.csv")
df.tail()

,Year,Month,Day,Sunspot_lag1,Sunspot_Lag_12,Diff_11Year,Monthly Mean Total Sunspot Number,Diff,Forecast_Sunspot
520,2008,12,31,6.6,17.3,-54.5,1.0,0.427909,0.572091
521,1964,10,31,7.0,50.1,-3.1,9.2,0.416826,8.783174
522,1957,4,30,222.8,156.7,121.9,248.0,0.939767,247.060233
523,1894,6,30,168.7,149.8,37.6,164.8,0.782690,164.017310
524,1915,11,30,89.1,27.3,-26.2,70.9,0.586092,70.313908